services:
    data:
        container_name: sqlserver
        image: mcr.microsoft.com/mssql/server:2019-latest
        ports:
            - "1433:1433"
        environment:
            - ACCEPT_EULA=Y
            - SA_PASSWORD=myStrongPassword12#$
        restart: on-failure
        volumes:
            - sqldata:/var/opt/mssql
        networks:
            - body4uhub-network
            
    message:
        container_name: rabbitmq
        image: rabbitmq:management-alpine
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            - RABBITMQ_DEFAULT_USER=devUser
            - RABBITMQ_DEFAULT_PASS=devPassword
        volumes:
            - rabbitmq-lib:/var/lib/rabbitmq/
        networks:
            - body4uhub-network
        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 30s
            timeout: 10s
            retries: 5
            
    identity:
        container_name: identity
        image: body4u-hub-identity-service
        build:
            context: ./
            dockerfile: ./Body4uHUB.Identity.Api/Dockerfile
        ports:
            - "5001:80"
        env_file: 
            - ./Body4uHUB.Identity.Api/identity.env
        restart: on-failure
        volumes:
            - data-protection:/root/.aspnet/DataProtection-Keys
        networks:
            - body4uhub-network
        depends_on:
            - data
            - message
            
    content:
        container_name: content
        image: body4u-hub-content-service
        build:
            context: ./
            dockerfile: ./Body4uHUB.Content.Api/Dockerfile
        ports:
            - "5002:80"
        env_file:
            - ./Body4uHUB.Content.Api/content.env
        restart: on-failure
        volumes:
            - data-protection:/root/.aspnet/DataProtection-Keys
        networks:
            - body4uhub-network
        depends_on:
            - data
            
    marketplace:
        container_name: marketplace
        image: dkisov/body4u-hub-marketplace-service
        build:
            context: ./
            dockerfile: ./Body4uHUB.Services.Api/Dockerfile
        ports:
            - "5003:80"
        env_file:
            - ./Body4uHUB.Services.Api/service.env
        restart: on-failure
        volumes:
            - data-protection:/root/.aspnet/DataProtection-Keys
        networks:
            - body4uhub-network
        depends_on:
            - data
            - message
            
networks:
    body4uhub-network:
    
volumes:
    sqldata:
    data-protection:
    rabbitmq-lib: